// :root {
//     --color-black: #000;
//     --color-white: #FFF;
    /* animation */
    // --time: 250ms;
    // --time-effect: cubic-bezier(0.4, 0, 0.2, 1);
    /* fonts */
//     --font-inter: 'Inter', sans-serif;
//     --font-montserrat: 'Montserrat', sans-serif;
// }

// body {
//     font-family: var(--font-inter);
//     color: var(--color-black);
// }

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 480px;
    margin: 0 auto;
    padding: 0 20px;

    @media screen and (min-width: 768px) {
        max-width: 768px;
    }

    @media screen and (min-width: 1280px) {
        max-width: 1280px;
    }
}

// .link {
//     text-decoration: none;
// }

.section {
    padding-top: 40px;
    padding-bottom: 40px;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        padding-bottom: 80px;
    }

    @media screen and (min-width: 1280px) {
        padding-bottom: 100px;
    }
}

.title-section {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;

    @media screen and (min-width: 768px) {
        font-weight: 700;
        font-size: 24px;
        line-height: 1.2083;
    }
}

// .visually-hidden {
//     position: absolute;
//     width: 1px;
//     height: 1px;
//     margin: -1px;
//     border: 0;
//     padding: 0;
//     white-space: nowrap;
//     clip-path: inset(100%);
//     clip: rect(0 0 0 0);
//     overflow: hidden;
// }

// key features
.features {
    background-color: var(--color-white);
    display: flex;
    // position: relative;
    overflow-x: hidden;
    overflow-y: hidden;

    @media screen and (max-width: 767px) {
        flex-direction: column;
        justify-content: center;
        position: relative;
    }

    // @media screen and (min-width: 1280px) {
    //     background-image: url(../images/bgnd-desktop.png);
    //     background-repeat: no-repeat;
    //     background-size: cover;
    // }

    &__container {
    //     background-image: url(../images/bgnd-image.png);
    //     background-repeat: no-repeat;
    //     background-size: cover;
        display: flex;

        @media screen and (max-width: 767px) {
            flex-direction: column;
        }

        @media screen and (min-width: 768px) and (max-width: 1279px) {
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
        }

        @media screen and (min-width: 1280px) {
            flex-direction: column;
            align-items: center;
            position: relative;
        }
    }

    &__title {
        justify-content: center;
        color: var(--color-black);
        text-align: center;

        @media screen and (max-width: 1279px) {
            margin-bottom: 40px;
        }

        @media screen and (min-width: 1280px) {
            text-align: center;
            margin-bottom: 80px;
        }
    }

    &__gradient-upper {
        position: absolute;

        @media screen and (max-width: 767px) {
            width: 249px;
            height: 167px;
            left: 30px;
            top: 135px;
            // background-image: url(../images/gradient-mobile-upper.svg);
            background-image: linear-gradient(to right, rgba(0, 197, 235, 0.2), rgba(181, 68, 254, 0.2));
            filter: blur(110.5px);
            transform: rotate(39.93deg);
        }

        @media screen and (min-width: 768px) and (max-width: 1279px) {
            display: none;
        }

        @media screen and (min-width: 1280px) {
            width: 304px;
            height: 203px;
            left: 964px;
            top: 45px;
            // background-image: url(../images/gradient-desktop-upper.svg);
            background-image: linear-gradient(to right, rgba(0, 197, 235, 0.2), rgba(181, 68, 254, 0.2));
            filter: blur(110.5px);
        }
    }

    &__explanation {
        font-weight: 500;
        text-align: center;
        color: var(--color-black);
        
        @media screen and (max-width: 767px) {
            font-size: 14px;
            line-height: 1.7143;
            margin-bottom: 40px;
        }

        @media screen and (min-width: 768px) and (max-width: 1279px) {
            font-size: 16px;
            line-height: 1.5;
            max-width: 704px;
            margin-bottom: 40px;
            padding-left: 32px;
            padding-right: 32px;
        }

        @media screen and (min-width: 1280px) {
            font-size: 16px;
            line-height: 1.5;
            max-width: 886px;
            margin-bottom: 80px;
            // padding-left: 196px;
            // padding-right: 198px;
        }
    }

    &__pic {
        display: block;

        @media screen and (max-width: 767px) {
            margin-bottom: 40px;
            z-index: 9;
        }

        @media screen and (min-width: 768px) and (max-width: 1279px) {
            position: absolute;
            left: 0;
        }

        @media screen and (min-width: 1280px) {
            position: absolute;
            // top: 277px;
            // right: 443px;
            top: 237px;
            left: 441px;
        }
    }

    &__gradient-lower {
        position: absolute;

        @media screen and (max-width: 767px) {
            width: 427.76px;
            height: 337.57px;
            left: -30px;
            top: 920px;
            // background-image: url(../images/gradient-mobile-lower.svg);
            background-image: linear-gradient(to top right, rgba(0, 197, 235, 0.25), rgba(61, 153, 241, 0.16), rgba(181, 68, 254, 0.25));
            filter: blur(109.5px);
            transform: rotate(174.64deg);
        }

        @media screen and (min-width: 768px) and (max-width: 1279px) {
            display: none;
        }

        @media screen and (min-width: 1280px) {
            width: 1044.38px;
            height: 823.76px;
            left: -225px;
            top: 230px;
            // background-image: url(../images/gradient-desktop-lower.svg);
            background-image: linear-gradient(to top right, rgba(0, 197, 235, 0.25), rgba(61, 153, 241, 0.16), rgba(181, 68, 254, 0.25));
            filter: blur(109.5px);
            transform: rotate(59.96deg);
        }
    }
    
    &__list {
        display: flex;

        @media screen and (max-width: 767px) {
            flex-direction: column;
            gap: 24px;
        }

        @media screen and (min-width: 768px) and (max-width: 1279px) {
            // justify-content: flex-end;
            gap: 80px;
            flex-wrap: wrap;
            padding-left: 380px;
            position: relative;
        }

        @media screen and (min-width: 1280px) {
            flex-wrap: wrap;
            gap: 80px;
            padding-left: 849px;
            position: relative;
            margin-top: 57px;
        }

        // &:last-child {}
    }

    &__item {
        justify-content: center;

        & h3 {
            position: relative;
        }

        & h3::before {
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
            content: "";
            width: 28px;
            height: 28px;
            background-image: url(../images/mark-eth-nft.png);
            background-position: center;
            background-repeat: no-repeat;
        }

        @media screen and (min-width: 768px) and (max-width: 1279px) {
            max-width: 278px;
            max-height: 88px;

            &:last-child {
                position: absolute;
                top: 672px;
                left: 32px;
            }
        }

        @media screen and (min-width: 1280px) {
            max-width: 260px;

            // &:nth-child(2n + 1) {
            //     position: absolute;
            //     left: 137px;
            // }

            &:nth-child(1) {
                position: absolute;
                top: 0;
                left: 137px;
            }

            &:nth-child(2) {
                position: absolute;
                top: 185px;
                left: 137px;
            }

            &:nth-child(3) {
                position: absolute;
                top: 370px;
                left: 137px;
            }
        }
    }

    &__subtitle {
        display: inline-block;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;

        @media screen and (max-width: 767px) {
            padding-left: 40px;
        }

        @media screen and (min-width: 768px) and (max-width: 1279px) {
            padding-left: 40px;
        }

        @media screen and (min-width: 1280px) {
            padding-left: 40px;
        }
    }

    &__text {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.2143;
        margin-top: 13px;

        @media screen and (max-width: 767px) {
            padding-left: 39px;
        }

        @media screen and (min-width: 768px) and (max-width: 1279px) {
            padding-left: 40px;
        }

        @media screen and (min-width: 1280px) {
            max-width: 240px;
            max-height: 68px;
            padding-left: 39px;
        }
    }
}