<section id="contact" class="section contact-us">
  <div class="container">
    <h2 class="contact-title">CONTACT US</h2>
    <div class="section-contact">
      <div class="contact-address">
        <p class="contact-address__title--text">Get in touch with us</p>
        <p class="contact-address__contact--text">
          Nunc urna est, tristique et varius at, pharetra nec enim. Quisque
          rhoncus lacus fringilla nulla sollicitudin tristique.
        </p>
        <ul class="contact-socials">
          <li class="contact-socials__link">
            <a
              class="contact-socials__link--networks"
              target="_blank"
              rel="noopener noreferrer"
              href="#"
            >
              <svg class="contact-socials__icon" width="40" height="40">
                <use
                  class="contact-icon__default"
                  xlink:href="./images/sprite.svg#icon-facebook"
                  width="20"
                  height="20"
                ></use></svg
            ></a>
          </li>
          <li class="contact-socials__link">
            <a
              class="contact-socials__link--networks"
              target="_blank"
              rel="noopener noreferrer"
              href="#"
            >
              <svg class="contact-socials__icon" width="40" height="40">
                <use
                  class="contact-icon__default"
                  xlink:href="./images/sprite.svg#icon-linkedin"
                  width="20"
                  height="20"
                ></use></svg
            ></a>
          </li>
          <li class="contact-socials__link">
            <a
              class="contact-socials__link--networks"
              target="_blank"
              rel="noopener noreferrer"
              href="#"
              ><svg class="contact-socials__icon" width="40" height="40">
                <use
                  class="contact-icon__default"
                  xlink:href="./images/sprite.svg#icon-instagram"
                  width="20"
                  height="20"
                ></use>
              </svg>
            </a>
          </li>
        </ul>
        <address>
          <ul class="contact">
            <li class="contact__number">+xx-xxxx-xxxx-xx</li>
            <li class="contact__email">goIteens@gmail.com</li>
          </ul>
        </address>
      </div>
      <form class="form">
        <div class="form__contact-form">
          <label class="contact-label" for="name">
            <input
              class="contact-name"
              placeholder="Name"
              type="text"
              name="name"
              id="name"
            />
          </label>
          <label class="contact-label contact-email" for="contact-email">
            <input
              class="contact-name contact-email"
              placeholder="Email"
              type="email"
              name="contact-email"
              id="contact-email"
            />
          </label>
        </div>
        <label class="contact-textarea" for="textarea" id="contact-textarea">
          <textarea
            class="textarea"
            placeholder="Message"
            name="contact-textarea"
            id="textarea"
            cols="30"
            rows="10"
          ></textarea>
        </label>
        <div class="contact-button">
          <button type="button" class="contact-button__link">SUBMIT</button>
        </div>
      </form>
    </div>
  </div>
</section>
