<!-- key features -->
        <section class="section features">
            <div class="container features__container">
                <h2 class="features__title">KEY FEATURES</h2>
                <!-- <span class="features__gradient-upper"></span> -->
                <p class="features__explanation">Nunc vulputate nibh sed congue facilisis. Curabitur posuere scelerisque neque. In sit amet lectus non lacus sollicitudin
                cursus a vitae felis. Praesent luctus mi quis nisi interdum eleifend.</p>
                <picture>
                    <source srcset="./images/man-mobile.png 1x, ./images/man-mobile@2x.png 2x" media="(max-width:767px)" type="image/png" />
                    <source srcset="./images/man-tablet.png 1x, ./images/man-tablet@2x.png 2x" media="(min-width:768px) and (max-width:1279px)"
                        type="image/png" />
                    <source srcset="./images/man-desktop.png 1x, ./images/man-desktop@2x.png 2x" media="(min-width:1280px)" type="image/png" />
                    <img class="features__pic" src="./images/man-mobile.png" alt="catch inspiration">
                </picture>
                <!-- <span class="features__gradient-lower"></span> -->
                <ul class="features__list">
                    <li class="features__item">
                        <div class="features__item-style">
                            <h3 class="features__subtitle">Amet varius</h3>
                            <p class="features__text">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus
                            diam a iaculis malesuada</p>
                        </div>
                    </li>
                    <li class="features__item">
                        <div class="features__item-style">
                            <h3 class="features__subtitle">Amet varius</h3>
                            <p class="features__text">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus
                            diam a iaculis malesuada</p>
                        </div>
                    </li>
                    <li class="features__item">
                        <div class="features__item-style">
                            <h3 class="features__subtitle">Amet varius</h3>
                            <p class="features__text">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus
                            diam a iaculis malesuada</p>
                        </div>
                    </li>
                    <li class="features__item">
                        <div class="features__item-style">
                            <h3 class="features__subtitle">Amet varius</h3>
                            <p class="features__text">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus
                            diam a iaculis malesuada</p>
                        </div>
                    </li>
                    <li class="features__item">
                        <!-- <div class="features__icon-style"></div> -->
                        <h3 class="features__subtitle">Amet varius</h3>
                        <p class="features__text">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus
                        diam a iaculis malesuada</p>
                    </li>
                    <li class="features__item">
                        <div class="features__item-style">
                            <h3 class="features__subtitle">Amet varius</h3>
                            <p class="features__text">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus
                            diam a iaculis malesuada</p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>