<footer class="footer">
    <div class="section">
        <div class="container">
            <h2 class="footer-title">CONTACT US</h2>
            <div class="section-footer">
                <div class="footer-address">
                    <p class="footer-title-text">Get in touch with us</p>
                    <p class="footer-text">
                        Nunc urna est, tristique et varius at, pharetra nec
                        enim. Quisque rhoncus lacus fringilla nulla sollicitudin
                        tristique.
                    </p>

                    <ul class="footer-socials">
                        <li class="footer-socials-net">
                            <a class="team-socials__social--networks" target="_blank" rel="noopener noreferrer"
                                href="#">
                                <svg class="team-socials__icon" width="40" height="40">
                                    <use class="icon-default" xlink:href="./images/sprite.svg#icon-facebook" width="20"
                                        height="20">
                                    </use>
                                </svg></a>
                        </li>
                        <li class="footer-socials-net">
                            <a class="team-socials__social--networks" target="_blank" rel="noopener noreferrer"
                                href="#">
                                <svg class="team-socials__icon" width="40" height="40">
                                    <use class="icon-default" xlink:href="./images/sprite.svg#icon-linkedin" width="20"
                                        height="20">
                                    </use>
                                </svg></a>
                        </li>
                        <li class="footer-socials-net">
                            <a class="team-socials__social--networks" target="_blank" rel="noopener noreferrer"
                                href="#"><svg class="team-socials__icon" width="40" height="40">
                                    <use class="icon-default" xlink:href="./images/sprite.svg#icon-instagram" width="20"
                                        height="20">
                                    </use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                    <address>
                        <ul class="footer-contact">
                            <li class="footer-contact__number">
                                +xx-xxxx-xxxx-xx
                            </li>
                            <li class="footer-contact__email">
                                goIteens@gmail.com
                            </li>
                        </ul>
                    </address>
                </div>
                <form class="form">
                    <div class="contact-form">
                        <label class="contact-name" for="name">
                            <input class="contact-name" placeholder="Name" type="text" name="name" id="name">
                        </label>
                        <label class="contact-name contact-email" for="contact-email">
                            <input class="contact-name contact-email" placeholder="Email" type="email"
                                name="contact-email" id="contact-email">
                        </label>
                    </div>
                    <label class="contact-textarea" for="textarea" id="contact-textarea">
                        <textarea class="textarea" placeholder="Message" name="contact-textarea" id="textarea" cols="30"
                            rows="10"></textarea>
                    </label>
                    <div class="button-class">
                        <button type="button" class="footer-button">
                            SUBMIT
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- <div class="support">
            <p class="support-text">
                © 2019 GoIteens Template. All Rights Reserved
            </p>
        </div> -->
    <div class="footer-address-footer">
        <p class="footer-title-text-footer">Get in touch with us</p>
        <p class="footer-text-footer">
            Nunc urna est, tristique et varius at, pharetra nec
            enim. Quisque rhoncus lacus fringilla nulla sollicitudin
            tristique.
        </p>

        <ul class="footer-socials-footer">
            <li>
                <a class="team-socials__social--networks" target="_blank" rel="noopener noreferrer" href="#">
                    <svg class="team-socials__icon" width="40" height="40">
                        <use xlink:href="./images/sprite.svg#icon-facebook" width="20" height="20"></use>
                    </svg></a>
            </li>
            <li>
                <a class="team-socials__social--networks" target="_blank" rel="noopener noreferrer" href="#">
                    <svg class="team-socials__icon" width="40" height="40">
                        <use xlink:href="./images/sprite.svg#icon-linkedin" width="20" height="20"></use>
                    </svg></a>
            </li>
            <li>
                <a class="team-socials__social--networks" target="_blank" rel="noopener noreferrer" href="#"><svg
                        class="team-socials__icon" width="40" height="40">
                        <use xlink:href="./images/sprite.svg#icon-instagram" width="20" height="20"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <address>
            <ul class="footer-contact-footer">
                <li class="footer-contact__number-footer">
                    +xx-xxxx-xxxx-xx
                </li>
                <li class="footer-contact__email-footer">
                    goIteens@gmail.com
                </li>
            </ul>
        </address>
    </div>
    <div class="support">
        <p class="support-text">
            © 2019 GoIteens Template. All Rights Reserved
        </p>
    </div>
</footer>
</body>

</html>