<header class="header">
  <div class="container header__container">
    <a class="logo link" href="index.html">Mobileapp</a>
    <button
      type="button"
      class="mobile-menu__btn js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg
        class="mobile-menu__icon"
        aria-label="Перемикач мобільного меню"
        width="24"
        height="16"
      >
        <use href="./images/icons.svg#icon-menu-open"></use>
      </svg>
    </button>
    <div class="mobile-menu js-menu-container" id="mobile-menu">
      <button
        type="button"
        class="mobile-menu__btn-close js-close-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg
          class="mobile-menu__icon-close"
          aria-label="Перемикач мобільного меню"
          width="32"
          height="32"
        >
          <use href="./images/icons.svg#icon-menu-close"></use>
        </svg>
      </button>
      <nav class="navigation header__navigation">
        <a class="logo link" href="index.html">Mobileapp</a>
        <ul class="navigation__list navigation__list--size list js-menu-links">
          <li class="navigation__item">
            <a class="navigation__link link" href="#home">HOME</a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link link" href="#features">FEATURES</a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link link" href="#team">TEAM</a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link link" href="#testimonials"
              >TESTIMONIALS</a
            >
          </li>
          <li class="navigation__item">
            <a class="navigation__link link" href="#contact">CONTACT</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
