<div class="backdrop is-hidden" data-modal>
    <div class="modal">
      <button type="button" class="close-modal" data-modal-close>
        <svg class="close-modal__img" width="24" height="24">
          <use href="./images/sprite1.svg#icon-close"></use>
        </svg>
      </button>
      <h2 class="modal__title">Download</h2>
      <form action="#" class="modal__form">
        <div class="modal__wrap">
          <input name="download_pdf" class="modal-box__input visually-hidden" id="plan-free" type="radio" checked />
          <label for="plan-free" class="modal-box">
            <svg class="modal-box__img" width="80" height="106">
              <use href="./images/sprite1.svg#icon-file-download"></use>
            </svg>
            <span class="modal-box__title">Download free plan</span>
            <span class="list__item">Donec posuere augue venenatis, aliquet </span>
            <span class="list__item">Donec posuere augue venenatis, aliquet </span>
          </label>
          <input name="download_pdf" class="modal-box__input visually-hidden" id="plan-pro" type="radio" />
          <label for="plan-pro" class="modal-box">
            <svg class="modal-box__img" width="80" height="106">
              <use href="./images/sprite1.svg#icon-file-download"></use>
            </svg>
            <span class="modal-box__title">Download free plan</span>
            <span class="list__item">Donec posuere augue venenatis, aliquet </span>
            <span class="list__item">Donec posuere augue venenatis, aliquet </span>
            <span class="list__item">Donec posuere augue venenatis, aliquet </span>
          </label>
        </div>
        <p class="modal__text">Nunc vulputate nibh sed congue facilisis. Curabitur posuere scelerisque neque. In sit amet lectus non lacus</p>
        <div class="modal__info">
          <ul class="list-info">
            <li class="list-info__item">
              <svg class="list-info__icon" width="28" height="28">
                <use href="./images/sprite1.svg#icon-app-name"></use>
              </svg>
              <p class="list-info__desc">App name</p>
              <p class="list-info__data">Mobileapp.layout</p>
            </li>
            <li class="list-info__item">
              <svg class="list-info__icon" width="28" height="28">
                <use href="./images/sprite1.svg#icon-license"></use>
              </svg>
              <p class="list-info__desc">License</p>
              <p class="list-info__data">Free</p>
            </li>
            <li class="list-info__item">
              <svg class="list-info__icon" width="28" height="28">
                <use href="./images/sprite1.svg#icon-author"></use>
              </svg>
              <p class="list-info__desc">Author</p>
              <p class="list-info__data">Mobile Marrket App.com</p>
            </li>
            <li class="list-info__item">
              <svg class="list-info__icon" width="28" height="28">
                <use href="./images/sprite1.svg#icon-data"></use>
              </svg>
              <p class="list-info__desc">Data</p>
              <p class="list-info__data">21.02.2022</p>
            </li>
          </ul>

          <ul class="list-info">
            <li class="list-info__item">
              <svg class="list-info__icon" width="28" height="28">
                <use href="./images/sprite1.svg#icon-oc"></use>
              </svg>
              <p class="list-info__desc">OC</p>
              <p class="list-info__data">Windows</p>
            </li>
            <li class="list-info__item">
              <svg class="list-info__icon" width="28" height="28">
                <use href="./images/sprite1.svg#icon-language"></use>
              </svg>
              <p class="list-info__desc">Language</p>
              <p class="list-info__data">English</p>
            </li>
            <li class="list-info__item">
              <svg class="list-info__icon" width="28" height="28">
                <use href="./images/sprite1.svg#icon-size"></use>
              </svg>
              <p class="list-info__desc">Size</p>
              <p class="list-info__data">4.16 MB</p>
            </li>
            <li class="list-info__item">
              <svg class="list-info__icon" width="28" height="28">
                <use href="./images/sprite1.svg#icon-download"></use>
              </svg>
              <p class="list-info__desc">Downloads</p>
              <p class="list-info__data">964</p>
            </li>
          </ul>
        </div>
        <button type="button" class="modal__btn">Download</button>
      </form>
    </div>
  </div>
  