<section class="video">
    <container>
      <h2 class="video__title">WATCH THE VIDEO</h2>
      <p class="video__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla
        fringilla nisl congue congue. Maecenas nec condimentum libero, at elementum mauris. 
        Phasellus eget nisi dapibus, ultricies nisl at, hendrerit risusuis 
        ornare luctus id sollicitudin ante lobortis at.
      </p>
      <ul class="social">
        <li>
          <a class="social__link social__link--icon" href="#" target="_blank" rel="noopener noreferrer">
            <svg class="icon" width="60px" height="60px">
              <use xlink:href="./images/video-icons.svg#icon-android"></use>
            </svg>
          </a>
        </li>
        <li>
          <a class="social__link social__link--icon" href="#" target="_blank" rel="noopener noreferrer">
            <svg class="icon" width="60px" height="60px">
              <use xlink:href="./images/video-icons.svg#icon-ios"></use>
            </svg>
          </a>
        </li>
      </ul>
      <div class="video__img">
        <picture>
          <source srcset="./images/mobile.png 1x, ./images/mobile@2x.png 2x"
            media="(min-width:1200px)" />
          <img src="./images/mobile.png" alt="mobile phone"/>
        </picture>
      </div>
    </container>
  </section>